body  {

     background-image: url(ho.jpg) ;
     background-repeat: no-repeat;
    background-size: cover;

}
}


h1 {
  color: rgb(121, 188, 226);
  text-align: center;
}
div {
    font-family: verdana;
    font-size: 20px;
  }
  #welcome  {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 15px;
  background-position: center;
  font-display: flex;
  margin-left:450PX;
  
}

p {
    font-family: verdana;
    font-style: initial;
    font-size: 15px;
    font-weight: 600;
    font-display: flex;
    background-position: center;
  }
  #wel {
    font-family: fantasy;
    font-style: initial;
    position: -ms-page;
    font-size: 15px;
    font-weight: 600;
    font-display: flex;
    background-position: center;
  }